# Model outputs
__pycache__/
*.pyc
*.egg-info/
wandb/
logs/
*.arrow
*.json
!GenAI-Dataset.json
!train.csv
!val.csv
!test.csv
!test_eval.csv

# Virtual envs
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
