__pycache__/
*.pyc
*.egg-info/
wandb/
logs/
*.arrow
*.json
!GenAI-Dataset.json
!train.csv
!val.csv
!test.csv
!test_eval.csv
urdu_gec_model/
urdu_gec_dataset_hf/
checkpoint_dir/
grammar_checkpoint_dir/
grammar_v2_checkpoint/
grammar_final_ckpt/
offload/
*.zip
*.safetensors
*.png
*.csv
!train.csv
!val.csv
!test.csv
!test_eval.csv
venv/
env/
.venv/
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
